<app-graduation-athletes-dialog *ngIf="showModalSelect" [graduationCode]="graduation.code" (closeModal)="onCloseModal()"
    (athletesAdded)="onAthletesAdded()">
</app-graduation-athletes-dialog>

<h3>
    Atletas vinculados ao exame de graduação
</h3>

<ng-container *ngIf="records.length > 0 || firstDataLoaded == false; else emptyAthletesTable">

    <loading-state [loading]="isLoading">
        <button *ngIf="canAssociate && records.length > 0" pButton pRipple label="Adicionar"
            class="mb-2 p-button-sm p-button-outlined p-button-success" (click)="onOpenModal()">
        </button>

        <p-table *ngIf="hasError == false; else error" [columns]="columns" [value]="records" [paginator]="true"
            [rows]="pageable.size" dataKey="athlete.person.code" [totalRecords]="totalRecords"
            sortField="athlete.person.code" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th *ngIf="graduation.situation == 'FINISHED'" pSortableColumn="grade">
                        Nota
                        <p-sortIcon field="grade"></p-sortIcon>
                    </th>
                    <th *ngIf="canAssociate"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <span *ngSwitchCase="'belt'" [appBelt]="data['belt']"></span>
                        <span *ngSwitchCase="'situation'" [appSituationAthleteGraduation]="data['situation']"></span>
                        <span *ngSwitchDefault [ngClass]="{italic: ((data | getProperty:col) == 'Não informado')}">
                            {{ data | getProperty:col }}
                        </span>
                    </td>
                    <td *ngIf="graduation.situation == 'FINISHED'">{{ data['grade'] }}</td>
                    <td *ngIf="canAssociate">
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-text" (click)="onRemoveAthlete(data)">
                        </button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    {{ totalRecords }} atletas vinculados
                </div>
            </ng-template>
        </p-table>
    </loading-state>

    <ng-template #error>
        <app-empty-state title="Erro ao processar sua requisição" icon="pi pi-inbox"
            [showFirstAction]="true" firstActionLabel="Tentar novamente" (firstAction)="onRetry()">
        </app-empty-state>
    </ng-template>
</ng-container>

<ng-template #emptyAthletesTable>
    <app-empty-state title="Nenhum atleta vinculado ao exame de graduação" icon="pi pi-inbox"
        [showFirstAction]="canAssociate" firstActionLabel="Vincular" (firstAction)="onOpenModal()">
    </app-empty-state>
</ng-template>