.customHeader {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: -20px; 
    font-weight: 500;
}

.spanInfo {
    font-weight: 700;
    font-size: 22px;
}

.divInfo {
    text-align: center;
}
